@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.clients {
  width: 100%;
  background-color: #f1f8ff;
  padding-top: 100px;

}

.clients__title {
  font-family: Lato;
  font-weight: 300;
  font-size: 50px;
  color: #3677fd;
  text-align: center;
  margin-bottom: 100px; /*УДАЛИТЬ*/
}


.body{
  max-width: 2000px;
}

.clients__ico-bar{
  display: flex;
  min-width: 1140px;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  margin-top: 80px;

}

.footer {
  width: 100%;
}
