@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.clients {
  background-color: #f1f8ff;
  max-width: 2000px;
}

.clients__title {
  font-size: 50px;
  line-height: 35px;
  color: #3677fd;
  font-weight: 300;
  font-family: "Lato";
  text-align: center;
  padding-top: 100px;
}

.clients__ico-bar {
  margin-top: 75px;
}